[loggers]
keys=root

[logger_root]
level=INFO
handlers=timedRotatingFileHandler

[formatter_simple]
format=%(asctime)s %(levelname)-8s %(name)-12s %(message)s

[formatter_timedRotatingFormatter]
format=%(asctime)s %(levelname)-8s %(name)-12s %(message)s
datefmt=%y-%m-%d %H:%M:%S

[formatters]
keys=timedRotatingFormatter

[handlers]
keys=timedRotatingFileHandler

[handler_streamHandler]
class: logging.StreamHandler
level: DEBUG
formatter: simple
stream: ext://sys.stdout

[handler_timedRotatingFileHandler]
class=handlers.TimedRotatingFileHandler
level=INFO
formatter=timedRotatingFormatter
args=('./logs/test.log', 'S', 3, 0)
