<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    {% if title %}
    <title>{{title}}</title>
    {% else %}
    <title>Добро пожаловать</title>
    {% endif %}
    {% assets "css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}"/>
    {% endassets %}
</head>
<body>
    <div>DataAnalyse:
        <a href="{{ url_for('index') }}">Home</a>
        {% if current_user.is_anonymous %}
        <a href="{{ url_for('login') }}">Войти</a>
        {% else %}
        <a href="{{ url_for('user', username=current_user.username) }}">Profile</a>
        <a href="{{ url_for('logout') }}">Выход</a>
        {% endif %}
        <a href="{{ url_for('charts') }}">Charts</a>
        <a href="{{ url_for('scatter') }}">Scatter</a>
        <a href="{{ url_for('video') }}">Video</a>
    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</body>
<footer>
    <p1>Это подвал</p1>
</footer>
</html>